{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-styled-components",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-syntax-dynamic-import"
  ]
}